.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  gap: 10px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-area {
  display: flex;
  width: 100%;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
  margin-left: 250px;
}

.menu-list li {
  margin: 0 10px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 250px;
  padding: 5px;
  margin: 20px;
  border-bottom: solid 1px #000;
}

.search-bar input {
  border: none;
  margin-left: 10px;
}

:focus {
  outline: none;
}

.product-card {
  background-color: #fff;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.1);
}
